@keyframes blink {
    50% {
        opacity: 0;
    }
}

.texto {
    font-size: 14px;
    line-height: 1.5em;
    height: 40px; /* altura da div */
    overflow: auto; /* oculta o conteúdo que excede a altura */
  }
/* Estiliza o sublinhado */
.blink-underline {
    text-decoration: none;
    position: relative;
}

.blink-underline::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    animation: blink 1s infinite;
}



